<div style="margin: auto;">
  <h1><%= @group.name %></h1>
  <h2><%= @group.activity.title %></h2>
  <%= form_with model: @group do |f| %>
    <%= f.text_field :name %>
    <%= f.submit 'change the name'%>
  <% end %>

  <%= render "group_users/index" %>
</div>
