<div style="margin: auto;">
  <div class="d-flex justify-content-center"><h2><strong>Création de votre groupe ...</strong></h2>
  </div>
  <div class="wrapper d-flex">
    <div class="card-product-group">
      <%= cl_image_tag(@group.activity.photo.key) %>
      <div class="card-product-infos-group">
        <h2><%= @group.name %></h2>
        <p><% if @group.activity.price <= 20 %>
            <i class="fas fa-euro-sign euro-index"></i>
          <% elsif  @group.activity.price.between?(20, 50) %>
            <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
          <% elsif  @group.activity.price >= 50 %>
            <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
          <% end %>
        </p>
        <p>
          <i class="far fa-clock"></i><%= (@group.activity.duration)/60 %> hours
        </p>
      </div>
  </div>


  </div>
  <%= form_with model: @group do |f| %>
    <%= f.text_field :name %>
    <%= f.submit 'change the name'%>
  <% end %>

  <%= render "/shared/display_users" %>
</div>
