<div class="chatroom">
  <div class="img-chatroom" style="background-image: linear-gradient(180.04deg, rgba(255, 255, 255, 0) 38.55%, rgba(0, 0, 0, 0.6) 66.66%, rgba(0, 0, 0, 0.75) 91.64%), url(<%= cl_image_path @group.activity.photo.key %>);">
    <div class="chatroom-infos">
    <h3><%= if @group.activity.title.size > 25
    then "#{@group.activity.title.slice(0..25)...}"
    else @group.activity.title
    end %></h3>
      <div class="card-group-activity-icon">
        <div class="card-infos-subgroup">
          <% if @group.activity.price <= 20 %>
            <i class="fas fa-euro-sign euro-index"></i>
          <% elsif  @group.activity.price.between?(20, 50) %>
            <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
          <% else  @group.activity.price >= 50 %>
            <i class="fas fa-euro-sign euro-index"></i></i><i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
          <% end %>
        </div>
        <div class="card-infos-subgroup">
          <i class="far fa-clock"></i>
          <%= (@group.activity.duration)/60 %>h
        </div>
        <div class="card-infos-subgroup">
          <i class="fa-solid fa-location-dot"></i>
          <%= @group.activity.address.split.last.capitalize%>
        </div>
      </div>
    </div>
  </div>

  <div class="group-infos">
    <div class="d-flex align-items-center">
      <h1><%= if @group.name.size > 13
        then "#{@group.name.slice(0..13)...}"
        else @group.name
        end %></h1>
      <%= link_to edit_group_path(@group) do %>
        <i class="fas fa-pen"></i>
      <% end %>
    </div>
    <div class="img-group-users">
      <% @group_users.first(3).each do |group_users| %>
        <%= cl_image_tag(group_users.user.photo.key, crop: :thumb, gravity: :face) %>
      <% end %>
      <% if @group_users.size > 3 %>
      <div class="pastille">
      <p> +<%= @group_users.size - 3 %></p>
      </div>
      <% end %>
    </div>
  </div>
  <div class="messages">
    <% @group.messages.each do |message| %>
        <div id="message-<%= message.id %>" class="<%='current-user' if message.user == current_user%>">
          <small>
            <strong><%= message.user.first_name %></strong>
            <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </small>
          <div class="image-message">
            <%= cl_image_tag(message.user.photo.key, crop: :thumb, gravity: :face)%>
            <p><%= message.content %></p>
          </div>
        </div>
    <% end %>
  </div>
  <div class="message-box">
    <%= simple_form_for [@group, @message],
      html: {class: "d-flex"} do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@group.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary btn-send-message" %>
    <% end %>
  </div>
</div>
