
<div class="card-product-groups d-flex justify-content-center">
  <%= link_to activity_path(group.activity) do%>
    <div class="groups-img"><%= cl_image_tag group.activity.photo.key %></div>
  <% end %>
  <div class="card-text-infos-groups">
    <%= link_to group_path(group) do %>
    <div class="right-element-groups">
      <%= group.name %>
      <div class="groups-name">
        <%= if group.activity.title.size > 20 then "#{group.activity.title[0..20]...}" else group.activity.title end %>
        <div class= "icon-groups">
          <i class="fa-solid fa-user-group"><%= group.users.count %></i>
        </div>
      </div>
    </div>

    <div class="infos-groups d-flex">
      <div class="groups-duration">
      <i class="icon-link fa-regular fa-calendar-check"></i>
        <%= group.date&.strftime("%d/%m/%Y") %>
      </div>
    </div>
    <% end %>

    <% if group.user_id == current_user.id %>
      <%= button_to 'UNDO!', profile_path(group), method: :patch, params: { group: { done: false } } %>
    <% end %>
    </div>
  </div>
</div>
