
<div class="card-product-groups d-flex flex-grow-1 justify-content-center">

  <%# IMG %>
  <%= link_to activity_path(current_group.group.activity) do%>
    <div class="groups-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path current_group.group.activity.photo.key %>);">
      <i class="fa-solid fa-user-group icon-card-group"><%= current_group.group.users.count %></i>
    </div>
  <% end %>

  <%# INFOS %>
  <div class="card-text-infos-groups flex-grow-1">
    <%= link_to group_path(current_group.group) do %>
      <div class="right-element-groups">
        <div class="name-grpe">
          <p><%= if current_group.group.name.size > 15 then "#{current_group.group.name[0..15]...}" else current_group.group.name end %></p>

          <div class="groups-name">
              <div class="category-activity">
                <% if current_group.group.activity.category == "Restaurant" %>
                  <i class="fas fa-utensils"></i>
                <% elsif current_group.group.activity.category == "Culture" %>
                  <i class="fas fa-university"></i>
                <% elsif current_group.group.activity.category == "Sport" %>
                  <i class="fas fa-football-ball"></i>
                <% elsif current_group.group.activity.category == "Cinema" %>
                  <i class="fas fa-film"></i>
                <% elsif current_group.group.activity.category == "Party" %>
                  <i class="fas fa-glass-cheers"></i>
                <% elsif current_group.group.activity.category == "Family" %>
                  <i class="fas fa-user-friends"></i>
                <% elsif current_group.group.activity.category == "Food" %>
                  <i class="fas fa-cookie-bite"></i>
                <% elsif current_group.group.activity.category == "Creativity" %>
                  <i class="fas fa-palette"></i>
                <% elsif current_group.group.activity.category == "Book" %>
                  <i class="fas fa-book"></i>
                <% end %>
              </div>
          </div>
        </div>
      </div>

      <div class="groups-name size-groupe">
        <%= if current_group.group.activity.title.size > 15 then "#{current_group.group.activity.title[0..15]...}" else current_group.group.activity.title end %>
      </div>

      <div>
        <% if current_group.group.activity.price <= 20 %>
          <i class="fas fa-euro-sign euro-index"></i>
        <% elsif  current_group.group.activity.price.between?(20, 50) %>
          <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
        <% elsif  current_group.group.activity.price >= 50 %>
          <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
        <% end %>
      </div>
    <% end %>

    <div class="bottom-infos-groups d-flex">
      <div class="infos-groups d-flex">
        <div class="groups-duration"><i class="fa-solid fa-clock"></i><%= current_group.group.activity.duration %>min</div>
      </div>

      <div class="infos-groups-2 align-items-end d-flex">
        <div class="groups-address">
          <i class="fa-solid fa-location-dot"></i>
          <%= current_group.group.activity.address.split.last.capitalize %>
        </div>
      </div>

      <% if current_group.group.user_id == current_user.id %>
        <div class="menu-bar">
          <input type="checkbox" class="menu" id="menu-<%= current_group.group.name%>" style="display:none">
          <label for="menu-<%= current_group.group.name%>" class="icon">
            <i class="icon-link fa-solid fa-ellipsis"></i>
            <i class="fa-solid fa-xmark"></i>
          </label>
          <div class="menu-link">
            <%= button_to group_path(current_group.group), method: :delete, class:"icon-link btn-done",  data: { turbo_confirm: 'Are you sure?' }  do%>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
            <%= link_to done_group_path(current_group.group), data: {turbo_method: :post}, class:"icon-link btn-done" do%>
              <i class="fa-solid fa-calendar-check"></i>
            <% end %>
            <%= link_to edit_group_path(current_group.group) do %>
              <i class="icon-link fa-solid fa-users user-menu-deroulant"></i>
            <% end %>
            <i class="icon-link fa-solid fa-ellipsis"></i>
          </div>
        </div>
      <% else %>
        <div class="menu-bar">
          <input type="checkbox" class="menu" id="menu-<%= current_group.group.name%>" style="display:none">
          <label for="menu-<%= current_group.group.name%>" class="icon">
            <% case current_group.participation %>
            <% when "pending" %>
              <i class="fa-solid fa-question"></i>
              <i class="fa-solid fa-xmark"></i>
            <% when "accepted" %>
              <i class="fa-regular fa-thumbs-up thumbs-up-accepted"></i>
            <% end %>
          </label>
          <div class="menu-link">
          <% case current_group.participation %>
            <% when "pending" %>
              <%= link_to decline_group_user_path(current_group), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"icon-link btn-done"  do%>
                <i class="fa-regular fa-thumbs-down"></i>
              <% end %>
              <%= link_to participate_group_user_path(current_group), data: { turbo_method: :patch}, class:"icon-link btn-done" do%>
                <i class="fa-regular fa-thumbs-up"></i>
              <% end %>
                <i class="fa-solid fa-question icon-link btn-done"></i>
            <% when "accepted" %>
              <%= link_to decline_group_user_path(current_group), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"icon-link btn-done"  do%>
                <i class="fa-regular fa-thumbs-down"></i>
              <% end %>
                <i class="fa-solid fa-question icon-link btn-done"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
