<div class="card-product-groups card-favorite d-flex flex-grow-1 justify-content-center">

  <%# IMG %>
  <div class="favorites-img fav-img">
    <%= cl_image_tag favorite.activity.photo.key %>
  </div>

  <%# INFOS %>
  <div class="card-text-infos-groups flex-grow-1">
    <% if params[:activity].present? %>
      <%= link_to activity_path(favorite.activity, activity: {city: params[:activity][:city], km: params[:activity][:km], category: params[:activity][:category]} ) do %>
      <div class="right-element-groups">
        <div class="groups-name">
          <%= if favorite.activity.title.size > 14 then "#{favorite.activity.title[0..14]...}" else favorite.activity.title end %>
          <div class="category-activity">
            <% if favorite.activity.category == "Restaurant" %>
              <i class="fas fa-utensils"></i>
            <% elsif favorite.activity.category == "Culture" %>
              <i class="fas fa-university"></i>
            <% elsif favorite.activity.category == "Sport" %>
              <i class="fas fa-football-ball"></i>
            <% elsif favorite.activity.category == "Cinema" %>
              <i class="fas fa-film"></i>
            <% elsif favorite.activity.category == "Party" %>
              <i class="fas fa-glass-cheers"></i>
            <% elsif favorite.activity.category == "Family" %>
              <i class="fas fa-user-friends"></i>
            <% elsif favorite.activity.category == "Food" %>
              <i class="fas fa-cookie-bite"></i>
            <% elsif favorite.activity.category == "Creativity" %>
              <i class="fas fa-palette"></i>
            <% elsif favorite.activity.category == "Book" %>
              <i class="fas fa-book"></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="groups-price">
        <% if favorite.activity.price <= 20 %>
          <i class="fas fa-euro-sign euro-index"></i>
        <% elsif  favorite.activity.price.between?(20, 50) %>
          <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
        <% elsif  favorite.activity.price >= 50 %>
          <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
        <% end %>
      </div>
    <% end %>

    <% else %>
      <%= link_to activity_path(favorite.activity) do %>
      <div class="right-element-groups">
        <div class="groups-name">
          <%= if favorite.activity.title.size > 20 then "#{favorite.activity.title[0..20]...}" else favorite.activity.title end %>
          <div class="category-activity">
            <% if favorite.activity.category == "Restaurant" %>
              <i class="fas fa-utensils"></i>
            <% elsif favorite.activity.category == "Culture" %>
              <i class="fas fa-university"></i>
            <% elsif favorite.activity.category == "Sport" %>
              <i class="fas fa-football-ball"></i>
            <% elsif favorite.activity.category == "Cinema" %>
              <i class="fas fa-film"></i>
            <% elsif favorite.activity.category == "Party" %>
              <i class="fas fa-glass-cheers"></i>
            <% elsif favorite.activity.category == "Family" %>
              <i class="fas fa-user-friends"></i>
            <% elsif favorite.activity.category == "Food" %>
              <i class="fas fa-cookie-bite"></i>
            <% elsif favorite.activity.category == "Creativity" %>
              <i class="fas fa-palette"></i>
            <% elsif favorite.activity.category == "Book" %>
              <i class="fas fa-book"></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="groups-price">
        <% if favorite.activity.price <= 20 %>
          <i class="fas fa-euro-sign euro-index"></i>
        <% elsif  favorite.activity.price.between?(20, 50) %>
          <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
        <% elsif  favorite.activity.price >= 50 %>
          <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
        <% end %>
      </div>
    <% end %>
    <% end %>

    <div class="bottom-infos-groups d-flex">
      <div class="infos-groups d-flex">
        <div class="groups-duration"><i class="fa-solid fa-clock"></i><%= favorite.activity.duration %>min</div>
      </div>

      <div class="infos-groups-2 align-items-end d-flex">
        <div class="groups-address">
          <i class="fa-solid fa-location-dot"></i>
          <%= favorite.activity.address.split.last.capitalize %>
        </div>
      </div>

      <div class="menu-bar">
        <input type="checkbox" class="menu" id="menu-<%= favorite.activity.id%>" style="display:none">
        <label for="menu-<%= favorite.activity.id%>" class="icon">
          <i class="icon-link fa-solid fa-ellipsis"></i>
            <i class="fa-solid fa-xmark"></i>
        </label>

        <div class="menu-link">
        <% if params[:activity].present? %>
          <%= button_to favorite_path(favorite, activity: {city: params[:activity][:city], km: params[:activity][:km], category: params[:activity][:category]}), method: :delete, class: "icon-favorite",  data: { turbo_confirm: 'Are you sure?' } do %>
            <i class="fa-solid fa-heart-crack"></i>
          <% end %>
          <%= link_to new_group_path(activity_id: favorite.activity.id, activity: {city: params[:activity][:city], km: params[:activity][:km], category: params[:activity][:category]}) do %><i class="icon-link fa-solid fa-users user-menu-deroulant"></i><% end %>
        <% else %>

          <%= button_to favorite_path(favorite), method: :delete, class:"icon-link icon-favorite",  data: { turbo_confirm: 'Are you sure?' } do %>
            <i class="fa-solid fa-heart-crack"></i>
          <% end %>
          <%= link_to new_group_path(activity_id: favorite.activity.id) do %><i class="fa-solid fa-users user-menu-deroulant"></i><% end %>
        <% end %>
          <i class="icon-link fa-solid fa-ellipsis"></i>
        </div>
      </div>
    </div>
  </div>
</div>
