<div class="card-product-infos-groups d-flex justify-content-center">
  <%= link_to activity_path(group.activity) do%>
    <div class="groups-img"><%= cl_image_tag group.activity.photo.key %></div>
  <% end %>
  <div class="card-text-infos-groups">
  <%= link_to group_path(group) do %>
    <div class="right-element-groups">
      <div class="groups-name">
        <%= group.activity.title %>
        <div class= "icon-groups">
          <i class="fa-solid fa-user-group"><%= group.users.count %></i>
        </div>
      </div>
    </div>

    <div class="groups-price"><%= group.activity.price %></div>

    <div class="infos-groups d-flex">
      <div class="groups-duration"><i class="fa-solid fa-clock"></i><%= group.activity.duration %>min</div>
    </div>
    <div class="infos-groups-2 align-items-end d-flex">
      <div class="groups-address">
        <i class="fa-solid fa-location-dot"></i>
        <%= group.activity.address %>
      </div>
      <div class= "icon-deroulant">
        <i class="fa-solid fa-ellipsis"></i>
      </div>
    </div>
  <% end %>
  </div>
</div>
