<div class="card-product-infos-groups d-flex flex-grow-1 align-items-center">
  <div class="groups-img"><%= cl_image_tag favorite.activity.photo.key %></div>

  <div class="card-text-infos-groups flex-grow-1">
    <div class="right-element-groups">
      <div class="groups-name">
        <%= favorite.activity.title %>
      </div>
    </div>

    <div>
      <% if favorite.activity.price <= 20 %>
        <i class="fas fa-euro-sign euro-index"></i>
      <% elsif  favorite.activity.price.between?(20, 50) %>
        <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
      <% elsif  favorite.activity.price >= 50 %>
        <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
      <% end %>
    </div>

    <div class="infos-groups d-flex">
      <div class="groups-duration"><i class="fa-solid fa-clock"></i><%= favorite.activity.duration %>min</div>
    </div>
    <div class="infos-groups-2 align-items-end d-flex">
      <div class="groups-address">
        <i class="fa-solid fa-location-dot"></i>
        <%= favorite.activity.address %>
      </div>

    <div class="menu-bar">
      <input type="checkbox" class="menu" id="menu-<%= favorite.activity.id%>" style="display:none">
      <label for="menu-<%= favorite.activity.id%>" class="icon">
          <i class="icon-link fa-solid fa-ellipsis"></i>
      </label>

      <div class="menu-link">
          <i class="icon-link fa-solid fa-heart"></i>
          <%= link_to new_group_path(activity_id: favorite.activity.id) do %><i class="icon-link fa-solid fa-users user-menu-deroulant"></i><% end %>
          <i class="icon-link fa-solid fa-ellipsis"></i>
      </div>
    </div>
  </div>
</div>
