<div class="card-product-infos-groups d-flex align-items-center">
  <%= link_to activities_path(@activity) do %>
    <div class="groups-img"><%= cl_image_tag group.activity.photo.key %></div>
  <% end %>
  
  <div class="card-text-infos-groups">
  <%= link_to group_path(group) do %>
    <div class="right-element-groups">
      <div class="groups-name">
        <%= group.activity.title %>
        <div class= "icon-groups">
          <i class="fa-solid fa-user-group"><%= group.users.count %></i>
        </div>
      </div>
    </div>

    <div class="groups-price"><%= group.activity.price %></div>

    <div class="infos-groups d-flex">
      <div class="groups-duration"><i class="fa-solid fa-clock"></i><%= group.activity.duration %>min</div>
    </div>
    <div class="infos-groups-2 align-items-end d-flex">
      <div class="groups-address">
        <i class="fa-solid fa-location-dot"></i>
        <%= group.activity.address %>
      </div>

      <input type="checkbox" id="menu">
      <label for="menu" class="icon">
          <i class="icon-link fa-solid fa-ellipsis"></i>
      </label>

      <div class="menu-link">
          <i class="icon-link fa-solid fa-ellipsis"></i>
          <i class="icon-link fa-solid fa-users"></i>
          <i class="icon-link fa-regular fa-calendar-check"></i>
          <i class="icon-link fa-solid fa-heart"></i>
      </div>
    </div>
  <% end %>
  </div>
</div>
