<%= button_to 'DONE!', done_group_path(id: group.id) %>
<div class="card-product-groups d-flex justify-content-center">
  <%= link_to activity_path(group.activity) do%>
    <div class="groups-img"><%= cl_image_tag group.activity.photo.key %></div>
  <% end %>
  <div class="card-text-infos-groups">
    <%= link_to group_path(group) do %>
    <div class="right-element-groups">
      <%= group.name %>
      <div class="groups-name">
        <%= if group.activity.title.size > 20 then "#{group.activity.title[0..20]...}" else group.activity.title end %>
        <div class= "icon-groups">
          <i class="fa-solid fa-user-group"><%= group.users.count %></i>
        </div>
      </div>
    </div>

    <div>
      <% if group.activity.price <= 20 %>
        <i class="fas fa-euro-sign euro-index"></i>
      <% elsif  group.activity.price.between?(20, 50) %>
        <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
      <% elsif  group.activity.price >= 50 %>
        <i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i><i class="fas fa-euro-sign euro-index"></i>
      <% end %>
    </div>

    <div class="infos-groups d-flex">
      <div class="groups-duration"><i class="fa-solid fa-clock"></i><%= group.activity.duration %>min</div>
    </div>
    <% end %>

    <div class="infos-groups-2 align-items-end d-flex">
      <div class="groups-address">
        <i class="fa-solid fa-location-dot"></i>
        <%= if group.activity.address.size > 35 then "#{group.activity.address[0..35]...}" else group.activity.address end %>
      </div>

      <input type="checkbox" id="menu">
      <label for="menu" class="icon">
          <i class="icon-link fa-solid fa-ellipsis"></i>
      </label>

      <div class="menu-link">
          <i class="icon-link fa-solid fa-ellipsis"></i>
          <i class="icon-link fa-solid fa-users"></i>
          <i class="icon-link fa-regular fa-calendar-check"></i>
          <i class="icon-link fa-solid fa-heart"></i>
      </div>
    </div>
  </div>
</div>
