<div class="bottom-bar">
  <%# //CHANGER LES ROUTES (LOCALISATION + GROUPS + PROFILE PAGE )  %>

  <div class="nav-link <%='active' if current_page?(localisation_path)%>">
    <% if params[:activity].present? %>
      <%= link_to localisation_path(activity: {city: params[:activity][:city], km: params[:activity][:km], category: params[:activity][:category]}) do  %>
        <i class="fa-solid fa-location-dot nav-link-icon"></i>
      <% end %>
    <% else %>
      <%= link_to localisation_path do  %>
        <i class="fa-solid fa-location-dot nav-link-icon"></i>
      <% end %>
    <% end %>
  </div>

  <div class="nav-link <%='active' if current_page?(activities_path)%>">
    <% if params[:activity].present? %>
      <%= link_to activities_path(activity: {city: params[:activity][:city], km: params[:activity][:km], category: params[:activity][:category]}) do  %>
        <p class="s-swappy nav-link-icon">S</p>
      <% end %>
    <% else %>
      <%= link_to localisation_path do  %>
        <p class="s-swappy nav-link-icon">S</p>
      <% end %>
    <% end %>
  </div>

  <div class="nav-link <%='active' if current_page?(favorites_path)%>">
    <% if params[:activity].present? %>
      <%= link_to favorites_path(activity: {city: params[:activity][:city], km: params[:activity][:km], category: params[:activity][:category]}) do  %>
        <i class="fa-solid fa-heart nav-link-icon"></i>
      <% end %>
    <% else %>
      <%= link_to favorites_path do  %>
        <p class="fa-solid fa-heart nav-link-icon"></p>
      <% end %>
    <% end %>
  </div>

  <div class="nav-link <%='active' if current_page?(groups_path)%>">
    <% if params[:activity].present? %>
      <%= link_to groups_path(activity: {city: params[:activity][:city], km: params[:activity][:km], category: params[:activity][:category]}) do  %>
        <i class="fa-solid fa-comment-dots nav-link-icon"></i>
      <% end %>
    <% else %>
      <%= link_to groups_path do  %>
        <i class="fa-solid fa-comment-dots nav-link-icon"></i>
      <% end %>
    <% end %>

  </div>

  <div class="nav-link <%='active' if current_page?(favorites_path)%>">
    <% if params[:activity].present? %>
      <%= link_to favorites_path(activity: {city: params[:activity][:city], km: params[:activity][:km], category: params[:activity][:category]}) do  %>
        <i class="fa-solid fa-circle-user nav-link-icon"></i>
      <% end %>
    <% else %>
      <%= link_to favorites_path do  %>
        <i class="fa-solid fa-circle-user nav-link-icon"></i>
      <% end %>
    <% end %>
  </div>
</div>
