<h5>Find activities you likes around you and propose your friends to join you ! </h5>
<%= simple_form_for :activity, url: activities_path, method: :get, class: "d-flex" do |f| %>
  <%= f.input :city,
    class: "form-control",
    placeholder: "Enter your city"
  %>
  <%= f.input :km,
    class: "form-control",
    placeholder: "How far away?"
  %>
  <%= f.input :category, as: :check_boxes, collection: Activity::CATEGORIES %>
  <%= f.submit "Confirm my selection", class: "btn-confirm-selection" %>
<% end %>
