<div class="localisation-components">
  <h5 class="localisation-text-title">Find activities you likes around you and propose your friends to join you !</h5>
  <%= simple_form_for :activity, url: activities_path, method: :get, class: "d-flex" do |f| %>
    <div class="localisation-city-km">
      <div class="localisation-city">
        <i class="fa-solid fa-magnifying-glass"></i>
        <%= f.input :city,
          class: "form-control",
          label: false,
          placeholder: "Enter your city here"
        %>
      </div>
      <div class="localisation-km" data-controller="range">
        <div class="loc-km-infos">
          <h5><strong>How far away ?</strong></h5>
          <h5 data-range-target="km" class="value-of-km">0 km</h5>
        </div>
        <%= f.input :km,
          as: :range,
          input_html:{ data: { action: "change->range#updateTextInput", range_target: "range"}, min:"0", max:"25", value: 0},
          label: false,
          class: "form-control",
          placeholder: "How far away ?"
        %>
      </div>
    </div>
      <%= f.input :category,
        as: :check_boxes,
        input_html: { class: "tag-selector" },
        item_wrapper_class: 'tag-item',
        legend_tag: false,
        collection: Activity::CATEGORIES
      %>
    <div class="button-confirm-selection">
    <%= f.submit "Confirm my selection", class: "submit-btn btn-blue-dark" %>
    </div>
  <% end %>
</div>
