<div data-controller = "swype-index">
  <% @activities.each do |activity| %>
    <div class="d-none" data-swype-index-target="activity">
      <%= link_to activity.title, activity_path(activity) %>
      <%= cl_image_tag activity.photo.key %>
      <%= link_to "reject", reject_path( id: activity.id ), data: { turbo_method: :post} %>
      <%= link_to "add to favorite", favorites_path( id: activity.id ), data: { turbo_method: :post} %>
    </div>
  <% end %>
</div>

<% @activities.each do |activity| %>
  <%= activity %>
<% end %>
